*.iml
.gradle
.idea
/local.properties
/.idea/AndroidProjectSystem.xml
/.idea/migrations.xml
/.idea/compiler.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
